* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #444444;
  font-size: 16px;
}

li {
  list-style: none;
}

.panel {
  cursor: pointer;
  padding: 0 15px;
  text-transform: capitalize;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  width: 1200px;
  height: auto;
  background-color: #EBEBEB;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.btn-search-wrapper {
  display: flex;
  justify-content: space-around;
}